body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #2cc48a;
}

a:hover {
  color: #00A86B;
  text-decoration: underline;
}

#footie {
  text-align: right;
  padding: 0 0 20px 0;
}

span #jade {
  color: #2cc48a;
}

#page-control-panel {
  float: right;
}

.navbar-inverse .navbar-brand:hover {
  color: #2cc48a;
};

.navbar-inverse .navbar-brand:active {
  color: #2cc48a;
};