extends ../layouts/home

block heading
  h2 #{title}

block content
  p Lorem ipsum dolor sit amet, sumo assentior his et, est stet mediocrem conclusionemque an. Quas deserunt est no. Eum an iriure feugait deleniti. Iriure sensibus quo eu. Munere periculis duo ut, pri in alterum electram. Ne sed munere consulatu. Qui ea offendit appareat legendos.

  p Ut est dicta mundi efficiantur. Debet ancillae qui ex. His munere consequat eu, his an cibo aliquam ceteros. Tritani accusata repudiandae at eos, sea esse scripta deseruisse at, doctus phaedrum ocurreret per at. Audire tritani vim eu, menandri salutatus theophrastus id quo.

  p Per atqui pertinax intellegat te, vel quis soluta labitur te. Pro ne graecis nominavi. At alii diam disputando pro, ius vocibus corpora interesset id. Nam at denique similique vituperata, dicat theophrastus sed eu.

  p Atqui sanctus consectetuer id eam, et euismod accusata vix. Id clita percipit mea, ne nam idque maiorum suscipiantur, sed iudicabit sadipscing no. Ex malis doctus mei. Ad denique luptatum nec, per et quod abhorreant necessitatibus. Paulo solet fuisset sea et, qui id putant dissentiet, id eos homero semper consulatu.

  ul
    li Lorem
    li ipsum
    li de facto
    li mipsum

  p Has at corpora deleniti offendit, qui audire aeterno te. Singulis voluptaria ex sit, ex civibus tincidunt vim. Ne eam aliquam fuisset concludaturque. Ex nam civibus appetere, legimus singulis id usu. Idque mollis laoreet pro eu, ad eos alterum saperet fuisset, pri oratio signiferumque ea. Has quodsi impetus mentitum in. Viris melius ad pro, in scripta argumentum eum, duis omnis delenit sit ut.